absl-py==1.4.0
alembic==1.10.4
Box2D==2.3.2
Box2D-kengz==2.3.3
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
contourpy==1.0.7
cycler==0.11.0
DataProperty==0.55.1
Farama-Notifications==0.0.4
filelock==3.12.0
fonttools==4.39.3
fsspec==2023.5.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.54.0
gym==0.21.0
gym-notices==0.0.8
gymnasium==0.28.1
huggingface-hub==0.14.1
huggingface-sb3==2.2.4
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
jax-jumpy==1.0.0
Jinja2==3.1.2
kiwisolver==1.4.4
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mbstrdecoder==1.1.2
mdurl==0.1.2
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
optuna==3.1.1
packaging==23.1
panda-gym==2.0.0
pandas==2.0.1
pathvalidate==2.5.2
Pillow==9.5.0
protobuf==4.22.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybullet==3.2.5
pygame==2.3.0
pyglet==1.5.27
Pygments==2.15.1
pyparsing==3.0.9
pytablewriter==0.64.2
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.5
rl-zoo3==1.8.0
rsa==4.9
sb3-contrib==1.8.0
scipy==1.10.1
Shimmy==1.0.0
six==1.16.0
SQLAlchemy==2.0.12
stable-baselines3==1.8.0
sympy==1.11.1
tabledata==1.3.1
tcolorpy==0.1.3
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
torch==2.0.0
tqdm==4.65.0
typepy==1.3.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
wasabi==1.1.1
Werkzeug==2.3.0
zipp==3.15.0
